mixin footer(active)
    footer.footer
        .footer-up
            .footer-left
                +footerMenu(active)
            .footer-right
                +footerSocial()
        .footer-down
            .footer-left
                .footer__desc  Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer-right
                .footer__copy © Владимир Астахов | создано с любовью в LoftSchool | 2016



mixin footerMenu(active)
    ul.footer-menu
        each val, index in {1: ['Мои работы', './works.html'], 2: ['Обо мне', './about.html'], 3: ['Блог', './blog.html'], 4: ['Авторизация', './index.html']}
            li.footer-menu__item(class=''+ index==active ? 'footer-menu__item--active' : '')
                a.footer-menu__link(href=val[1])=val[0]

mixin footerSocial()
    ul.footer-socials
        li.footer-social__item
            a.footer-social__link(href="")
                svg(class="footer-social__icon")
                    use(xlink:href="./img/icons/sprite.svg#vk")
                svg(class="footer-social__icon--def footer-social__icon--defvk")
                    use(xlink:href="./img/icons/sprite.svg#vk1")
        li.footer-social__item
            a.footer-social__link(href="")
                svg(class="footer-social__icon")
                    use(xlink:href="./img/icons/sprite.svg#git")
                svg(class="footer-social__icon--def footer-social__icon--defgit")
                    use(xlink:href="./img/icons/sprite.svg#git1")
        li.footer-social__item
            a.footer-social__link(href="")
                svg(class="footer-social__icon")
                    use(xlink:href="./img/icons/sprite.svg#in")
                svg(class="footer-social__icon--def footer-social__icon--defin")
                    use(xlink:href="./img/icons/sprite.svg#in1")
        