include ../title/title.pug
.hamburger
    img(src="./img/hamburger.svg")
.hamburger-menu
    .hamburger__bg-left
    .hamburger__bg-right
    .hamburger-menu__close
        img(src="./img/icons/close.svg")
    ul.hamburger-menu__list
        li.hamburger-menu__item
            a.hamburger-menu__link(href='./works.html')
                +title('Мои Работы')
        li.hamburger-menu__item
            a.hamburger-menu__link(href='./blog.html')
                +title('Блог')
        li.hamburger-menu__item
            a.hamburger-menu__link(href='./about.html')
                +title('Обо мне')
        li.hamburger-menu__item
            a.hamburger-menu__link(href='./index.html')
                +title('Авторизация')