.paralax-container
    .paralax__layer
        img(src="").paralax__img.paralax__img--7
    .paralax__layer
        img(src="").paralax__img.paralax__img--6
    .paralax__layer
        img(src="").paralax__img.paralax__img--5
    .paralax__layer
        img(src="").paralax__img.paralax__img--cloud3
    .paralax__layer
        img(src="").paralax__img.paralax__img--4
    .paralax__layer
        img(src="").paralax__img.paralax__img--3
    .paralax__layer
        img(src="").paralax__img.paralax__img--cloud2
    .paralax__layer
        img(src="").paralax__img.paralax__img--2
    .paralax__layer
        img(src="").paralax__img.paralax__img--1
    .paralax__layer
        img(src="").paralax__img.paralax__img--cloud1
    