.slider
    .slider-desc
        .slider-container
            h3.slider-desc-title Сайт школы онлайн образования
            .slider-desc-technologies html, css, javascript
            a.slider-desc-link(href="#")
                svg(class="slider-desc-link__icon")
                    use(xlink:href="./img/icons/sprite.svg#link")
                span.slider-desc-link__text Посмотреть сайт
    .slider-demo
        ul.slider-demo-list
    .slider-controls
        .slider-controls-down
            ul.slider-controls-list
            .slider-controls-down__button
                svg(class="slider-controls-down__button__icon")
                    use(xlink:href="./img/icons/sprite.svg#arrowdown")
            .slider-controls-filter
        .slider-controls-up
            ul.slider-controls-list
            .slider-controls-up__button
                svg(class="slider-controls-down__button__icon")
                    use(xlink:href="./img/icons/sprite.svg#arrowup")
            .slider-controls-filter