mixin note(content, title, subtitle, imagelink)
    .note
        .note__icon
            .note__qoute
                i(class="fas fa-quote-left")
        .note__content=content
        .note-author
            .note-author__photo
                img(src=imagelink, alt="Photo")
            .note-author__desc
                .note-author__title=title
                .note-author__subtitle=subtitle