ul.socials
    li.social__item
        a.social__link(href="")
            i.fab.fa-vk
    li.social__item
        a.social__link(href="")
            i.fab.fa-github-alt
    li.social__item
        a.social__link(href="")
            i.fab.fa-linkedin-in