extends ../main.pug
include ../_components/footer/footer.pug
include ../_components/title/title.pug
include ../_components/note/note.pug

block var
    - var title = 'Мои работы'

block content
    section.about-hero
        .container
            .svg-background
                img(src="./img/portfolio_header.svg", alt="")
            .hero__persone.hero__persone--bigger
                include ../_components/persone/persone.pug
            .hero__socials.hero__socials--white
                include ../_components/socials/socials.pug
            a.hero__arrow(href='#1')
                img(src="./img/arrow.svg", alt="")
            include ../_components/hamburger/hamburger.pug
    section.works(id='1')
        .container-svg-triangles
            include ../_components/triangle/triangle.pug
        include ../_components/slider/slider.pug
    section.feedback
        .feedback-bg
            img(src="./img/feedback.png", alt="")
        .feedback-title
            img(src="./img/icons/about_header.svg", alt="")
            +title('Что обо мне Говорят')
        .feedback-notes
            +note('Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!', 'Ковальчук Дмитрий', 'основатель LoftSchool', './img/dk.png')
            +note('Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!', 'Сабанцев Владимир', 'преподаватель', './img/vs.png')
            +note('Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!', 'Сабанцев Владимир', 'преподаватель', './img/vs.png')
        .feedback-form-block
            .filter
                img(src="./img/feedback.png", alt="")  
            .feedback-form-title
                +title('Связаться со мной')
            form.feedback-form
                input.feedback-form__input(type="text" placeholder='Имя')
                input.feedback-form__input(type="text" placeholder='Email')
                textarea.feedback-form__input(placeholder='Ваше сообщение')
                .feedback-form__buttons
                    input.feedback-form__button(type="submit" value='Отправить' class='feedback-form__button--after')
                    input.feedback-form__button(type="reset" value='Очистить')    
                      
        +footer(1)